In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [2]:
df=pd.read_csv('clean_data.csv')

In [3]:
df.sample(10)

,Date,Industry_Vertical,Sub_Vertical,City,Invester_name,Investment_Type,Funding_Amount_in_cr,Startup_name
23,11-11-2019,Last Mile Transportation,Electric bike rental,Amritsar,Startup Buddy,Seed Funding Round,2.40,Furtados School Of Music
393,27-11-2017,Technology,Virtual Reality based gaming platform,Mumbai,Sixth Sense Ventures,Private Equity,30.40,Goodbox
832,22-09-2016,Technology,Mobile App Development company,Bangalore,Undisclosed investors,Seed Funding Round,8.00,Prothom
1371,14-07-2015,Online comparison engine,Undefined,Hyderabad,"Accel Partners, Helion Venture Partners",Private Equity,80.00,NaN
1322,05-08-2015,Online budget hotel chain,Undefined,New Delhi,"Tiger Global Management, Orios Venture Partners",Private Equity,240.00,NaN
687,26-01-2017,Consumer Internet,Health Tests Booking platform & ePharmacy,Ahmedabad,Brand Capital,Private Equity,11.20,Juspay
507,08-06-2017,Consumer Internet,App-based Investment advisory Services,Bangalore,"Mohan Alexander, R. Natarajan, Vikrant Varshne...",Seed Funding Round,2.80,Iim Jobs
1414,15-06-2015,Intra-City Logistics service,Undefined,Bangalore,i2india Pvt Ltd,Seed Funding Round,4.00,NaN
183,24-07-2018,Ed-Tech,Skill Learning Platform,Bengaluru,Gray Matters,Seed Funding Round,1.44,Opentap
901,13-07-2016,Consumer Internet,Online Furniture Renting Platform,Bangalore,"Accel Partners, IDG Ventures India",Private Equity,40.00,Nimble Wireless

In [38]:
# Finding the maximum Investment of a Invester
print('Max Investment :: ',float(df[df['Invester_name'] =='1Crowd'].loc[:,'Funding_Amount_in_cr'].max()),'Cr')
# Finding the minimum Investment of a Invester
print('Min Investment :: ',float(df[df['Invester_name'] =='1Crowd'].loc[:,'Funding_Amount_in_cr'].min()),'Cr')

Max Investment ::  4.8 Cr
Min Investment ::  3.2 Cr

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574 entries, 0 to 1573
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1574 non-null   datetime64[ns]
 1   Industry_Vertical     1574 non-null   object
 2   Sub_Vertical          1574 non-null   object
 3   City                  1574 non-null   object
 4   Invester_name         1574 non-null   object
 5   Investment_Type       1574 non-null   object
 6   Funding_Amount_in_cr  1574 non-null   float64
 7   Startup_name          922 non-null    object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 98.5+ KB

In [58]:
# Finding 
df['Date'].sample(10)

# df['Date'] = pd.to_datetime(df['Date'])
# df['Year'] = df['Date'].dt.year

916     21-07-2016
826     19-09-2016
1310    23-09-2015
23      11-11-2019
1286    07-09-2015
231     29-05-2018
659     03-01-2017
763     30-11-2016
842     01-08-2016
306     27-02-2018
Name: Date, dtype: object

In [59]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [64]:
df.groupby(df['Date'].dt.year)['Funding_Amount_in_cr'].sum()

Date
2015    29783.59
2016    16888.39
2017    44825.91
2018    32842.38
2019    75900.02
2020     3097.66
Name: Funding_Amount_in_cr, dtype: float64

In [65]:
df['Year']=df['Date'].dt.year

In [75]:
Invester=pd.DataFrame(df.groupby(['Year','Invester_name'])['Funding_Amount_in_cr'].sum())

In [80]:
Invester=pd.DataFrame(Invester.groupby(['Invester_name','Year'])['Funding_Amount_in_cr'].sum())

In [94]:
Invester=pd.DataFrame(df.groupby(['Year','Invester_name'])['Funding_Amount_in_cr'].sum())
Invester.reset_index(inplace=True)
Invester.loc[Invester['Invester_name'] == 'Carpediem Capital', :].groupby('Year')['Funding_Amount_in_cr'].sum()

Year
2016    48.0
2017    52.8
Name: Funding_Amount_in_cr, dtype: float64

In [90]:
Invester.reset_index(inplace=True)

In [67]:
df.sample(4)

,Date,Industry_Vertical,Sub_Vertical,City,Invester_name,Investment_Type,Funding_Amount_in_cr,Startup_name,Year
560,2017-05-29,E-commerce,Online Medical equipment supplier,Mumbai,Carpediem Capital,Private Equity,28.0,Flickbay,2017
1078,2016-02-08,Consumer Internet,Ad Network,New Delhi,Green House Ventures (GHV),Seed Funding Round,0.8,NaN,2016
612,2017-03-07,Technology,Cyber Security Solutions,Noida,IDFC Parampara Early Stage Opportunities Fund,Private Equity,8.0,Syona Cosmetics,2017
651,2017-02-16,Consumer Internet,Online Media,Bangalore,"Kalaari Capital Partners, Qualcomm, 3ONE4 Capi...",Private Equity,24.0,Systemantics,2017

In [97]:
df.to_csv('clean_data.csv',index=False)